.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  display: none;
}

.modal__opened {
  display: flex;
}

.modal__container {
  background-color: white;
  padding:36px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  height: 330px;
  position: relative;
  display: grid;
}

.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close.hover {
  opacity: 0.5;
  transition: opacity 1s ease;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  height: 23px;
}

/*.modal__form-item {
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 27.26px;
  margin-bottom: 29.74px;
}

.modal__form-item:last-of-type {
  margin-bottom: 0px;
}*/

input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
  margin-bottom: 29px;
  padding-bottom: 14px;
}

.modal__form-description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.9px;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
  margin-bottom: 61px;
  padding-bottom: 14px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  height: 50.15px;
  padding: 0;
  margin-top: 48px;
}

.modal__button:hover {
  opacity: 0.5;
  transition: opacity 1s ease;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
    /*padding: 0px 19px;*/
    margin: 0 19px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 23px);
    left: calc(100% - 23px);
  }

  .modal__heading {
    width: 238px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    align-items: center;
  }
}

