.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__opened {
  display: flex;
}

.modal__container {
  background-color: white;
  padding:36px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  width: 430px;
  height: 330px;
  position: relative;
  display: grid;
  box-sizing: border-box;
  margin: auto;
}

.modal__close {
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.5;
  transition: opacity .5s ease;
  cursor: pointer;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: auto;
  height: 23px;
}


.modal__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 27.26px;
  margin-top: 0;
  margin-bottom: 29.74px;
}

.modal__form:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  /*border-radius: 2px;*/
  width: 100%;
  height: 50.15px;
  padding: 0;
  margin-top: 48px;
  border: none;
}

.modal__button:hover {
  opacity: 0.5;
  transition: opacity 1s ease;
  cursor: pointer;
}

.modal__preview-container {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding-right: 19px;
  padding-left: 19px;
  visibility: hidden;
  opacity: 0%;
  top: 40px;
  left: 20px;
  bottom: 0;
  right: 40px;
  transition: opacity linear 0.3s 0.2s;
  justify-content: center;
  align-items: center;
  position: relative;
}

#modal__image-preview {
  max-width: 75vh;
  max-height: 75vh;
}

#modal__container_image {
  display: flex;
  flex: 0 1 25%;
}
.modal__image_footer {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  margin: 0;
  color: #fff;
  bottom: 300px;
  left: 577px;
}

#big-picture-modal__close {
  position: relative;
  top: -600px;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
    /*padding: 0px 19px;*/
    margin: 0 19px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 23px);
    left: calc(100% - 23px);
  }

  .modal__heading {
    width: auto;
  }

  .modal__form {
    width: 238px;
  }

  .modal__button {
    width: auto;
    height: 46px;
    font-size: 14px;
    align-items: center;
  }
}

