.page {
  background-color: #000000;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .page__section {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 768px) {
  page__section {
    width: calc(100% - 30px);
  }
}